* {
    padding: 0;
    margin: 10;
    box-sizing: border-box;
}

.mydiv {
    position: absolute;
    width: 96vw;
    height: 280vh;
    display: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight:;
    background: linear-gradient(150deg, #fff102,  #f10271, #00c298);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
}

@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 20% 50%;}
}
